.info > a:visited,
.info a:link {
    text-decoration: none;
    color: rgb(14, 235, 255);
}

main {
    display: flex;
    height: 85%
}

main > div,
article {
    padding: 2em;
    padding-top: 1em;
}

main > div {
    width: 20%;
    padding: 0;
    position: relative;
}

article {
    width: 100%;
    position: relative;
}

h1 {
    font-size: 3em;
    margin-top: 0.5em;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 1px 0 0 #000, 0 -2px 0 #000, 0 1px 0 #000, -2px 0 0 #000;
    text-transform: uppercase;
}

.info {
    background-color: #191919;
    font-size: 1.6em;
    padding: 0.5em;
    border-top: groove 0.2em cyan;
    border-bottom: groove 0.2em cyan;
    border-left: groove 0.2em yellow;
    border-right: groove 0.2em magenta;
    border-radius: 5%;
    margin-top: 0.2em;
    width: fit-content;
    left: 0;
    right: 0;
    margin: auto;
    text-align: justify;
    padding-left: 1.2em;
    padding-right: 1.2em;
}

.dog-container {
    height: 13.5em;
    position: relative;
}

.dog-gif {
    position: absolute;
    width: 23em;
    height: 10em;
    object-fit: cover;
    object-position: 0% 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.banner {
    position: absolute;
    margin-top: 2em;
    width: 96%;
    border-top: groove 0.5em cyan;
    border-bottom: groove 0.5em cyan;
    border-left: groove 0.5em yellow;
    border-right: groove 0.5em magenta;
    border-radius: 1%;
}

.info-container {
    margin-top: 2em;
    position:absolute;
    width: 35vw;
    max-height: 30vw;
    padding-left: 20px;
    padding-right: 20px;
}

.info img {
    border-top: groove 0.2em cyan;
    border-bottom: groove 0.2em cyan;
    border-left: groove 0.2em yellow;
    border-right: groove 0.2em magenta;
    border-radius: 3%;
}

.container a:hover ~ .info{
    transform: translateX(255px);
    transition: all 0.2s ease-in-out;
}