main {
    height: inherit;
    position: relative;
}

input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid #eee;
    border-radius: 10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    width: inherit;
}

label, small {
    margin: 5px;
}

input:focus {
    outline: none;
}

.input-group {
    display: block;
}

.input-container1, .input-container2 {
    display: flex;
}

article {
    height: 55%;
    display: flex;
    position: absolute;
    left: 27.5%;
    top: 25%;
    margin: auto;
    border-top: groove 0.5em cyan;
    border-bottom: groove 0.5em cyan;
    border-left: groove 0.5em yellow;
    border-right: groove 0.5em magenta;
    border-radius: 20px;
    padding: 2em;
    background-color: #191919;
}

.order-selected {
    margin-right: 50px;
    position: relative;
}

h1 {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
    text-shadow: 1px 0 0 #000, 0 -2px 0 #000, 0 1px 0 #000, -2px 0 0 #000;
    font-size: 3em;
    text-transform: uppercase;
}

#first-name, #address {
    margin-right: 5px;
}

#country, #city, #email, #phone-number {
    width: 100%;
    box-sizing: border-box;
}

#item {
    width: 95%;
}

#clean {
    width: 24%;
    cursor: pointer;
    transition: 0.1s;
}

#submit {
    width: 73.5%;
    cursor: pointer;
    transition: 0.1s;
}

#clean:active, #submit:active {
    background-color: black;
    color: white;
}

.img-box {
    border-top: groove 0.5em cyan;
    border-bottom: groove 0.5em cyan;
    border-left: groove 0.5em yellow;
    border-right: groove 0.5em magenta;
    border-radius: 20px;
    height: 70%;
    overflow: hidden;
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height:  100%;
}

form {
    height: 70%;
}

.label-item {
    margin-top: 1.5em;
}