main {
    height: inherit;
    display: flex;
    flex-direction: row-reverse;
}

article {
    flex :5;
    position: relative;
    height: inherit;
}

article h1 {
    font-size: 4em;
    text-align: center;
    text-shadow: 1px 0 0 #000, 0 -2px 0 #000, 0 1px 0 #000, -2px 0 0 #000;
    margin-bottom: 0;
    margin-top: 1.5em;
}

.side-box {
    flex: 1;
    position: relative;
    height: 90vh;
    background: black;
    border-left: groove white 3px;
}

.cards-container {
    display:flex;
    margin-left: 50px;
}

.card {
    position: relative;
    width: 320px;
    height: 480px;
    background: #191919;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 60px;
    margin-top: 75px;
    box-shadow: -4px -3px 45px 21px rgba(0, 0, 0, 0.35);
}

.card::before {
    content: "";
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: #12c2f8;
    border-bottom: groove 10px yellow;
    transform: skewY(345deg);
    transition: 0.5s;
}

.card:hover::before {
    top: -70%;
    transform: skewY(390deg);
}

.card::after {
    content: "ASPIRE";
    position: absolute;
    bottom: 0;
    left: 10px;
    letter-spacing: 5px;
    font-weight: 600;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.1);
}

.card .box-img {
    position: relative;
    width: 80%;
    height: 50%;
    display: flex;
    left: 10%;
    top: 5%;
    justify-content: center;
    align-items: center;
    /* padding-top: 20px; */
    background: white;
    border-radius: 10%;
    z-index: 1;
}
.card .box-container {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.card .box-container h3 {
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin-top: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card .box-container .price {
    font-size: 24px;
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
}

.card .box-container .buy {
    position: relative;
    top: 100px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: #000000;
    text-decoration: none;
    background: #12c2f8;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}

.card:hover .box-container .buy {
    top: 0;
    opacity: 1;
}

.product-img {
    height: 100%;
    border-radius: 10%;
}

.side-box ul {
    padding:0;
}

.side-box li {
    text-decoration: none;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1.6em;
    padding-top:2em;
    padding-bottom: 2em;
    padding-left: 0;
    border: solid 2px white;
    text-align: center;
    background: radial-gradient(circle, rgba(242,242,242,1) 0%, rgba(106,106,106,1) 0%, rgba(0,0,0,1) 100%);
    transition: all .2s ease-in-out;
}

.side-box li:hover {
    color: magenta;
    cursor: pointer;
}

